.header {
    width: 800px;
    height: 100px;
    
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    width: auto;
    height: 100%;
}

.nav {
    display: flex;
}

.nav-home {
    height: 100%;
}