.header {
    width: 800px;
    height: 80px;
    
    display: flex;
    flex-wrap: nowrap;

}

.nav {
    display: flex;
}

.nav-home, .nav-news {
    width: fit-content;
    height: fit-content;

    margin: auto 10px;
}

.login{
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    margin: auto 10px;
}